extends ../extend/default

block variables
	-title = 'Home';
	-navActiveLink1 = true;

block main

	include ../components/screen

	include ../components/chart

	include ../components/info

	include ../components/support-btn

block modals
	include ../components/entry