extends ../extend/default

block variables
	-title = 'Market research';
	-navActiveLink5 = true;

block main

	-page = {title: 'Market research', bg: 'background-image: url(static/img/bg/market_bg.png)'}
	include ../components/page

	+b.entry-slider.js-entry-slider
		+e.item
			+e.IMG(src='static/img/content/entry-sld_1.png' alt='image')
		+e.item
			+e.IMG(src='static/img/content/entry-sld_2.png' alt='image')

	include ../components/result

	include ../components/support-btn

block modals
	include ../components/entry